.form {
	max-width: 280px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: 0 1px 10px #0002;
	background-color: var(--color-white);
	border-radius: 10px;
	margin: 20px auto;

	@media (prefers-color-scheme: dark) {
		box-shadow: inset 10px -30px 98px 0 rgba(49, 49, 49, 0.3);
		color: var(--color-white);
		background-color: rgba(43, 43, 43, 0.067);
	}

	.checkbox {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;

		&:hover {
			span#fake_checkbox {
				box-shadow: 0 1px 5px #0006;

				@media (prefers-color-scheme: dark) {
					box-shadow: 0 1px 5px #fff6;
				}

				&::after {
					width: 8px;
					height: 8px;
				}
			}
		}

		input[type="checkbox"] {
			display: none;
		}

		span#fake_checkbox {
			display: block;
			width: 15px;
			height: 15px;
			border-radius: 2px;
			box-shadow: 0 1px 2px #0006;
			position: relative;
			transition: background-color 0.2s ease-in-out;

			@media (prefers-color-scheme: dark) {
				box-shadow: 0 1px 2px #fff6;
			}

			&::after {
				display: none;
				position: absolute;
				content: "";
				width: 7px;
				height: 7px;
				background-color: #0009;
				border-radius: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@media (prefers-color-scheme: dark) {
					background-color: #fff9;
				}
			}
		}

		input[type="checkbox"]:checked+span#fake_checkbox::after {
			display: block;
		}
	}

	&__row {
		&_countdown {
			text-align-last: left;

			label {
				cursor: pointer;
			}

			width: 100%;
			font-size: 13px;
		}

		&.links {
			a {
				text-align: center;
			}
		}

		&:not(:last-child) {
			display: grid;
			gap: 20px;
		}

		&:first-child {
			font-size: 14px;
			text-align: center;
		}

		&:last-child {
			font-size: 14px;
			display: grid;
			grid-template: repeat(2, max-content) / repeat(2, max-content);
			gap: 5px;
			justify-content: space-between;
		}

		button {
			outline: none;
			border: none;
			background-color: #0009;
			color: var(--color-white);
			padding: 8px 30px;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;

			@media (prefers-color-scheme: dark) {
				background-color: #fff1;
			}

			&:hover {
				background-color: #000;

				@media (prefers-color-scheme: dark) {
					color: #000;
					background-color: #fff;
					box-shadow: 5px  5px 20px 0 rgba(129, 129, 129, 0.281);
				}
			}

			&:disabled {
				background-color: #0002;
				box-shadow: 0 1px 10px #0005;

				@media (prefers-color-scheme: dark) {
					background-color: #fff2;
					box-shadow: 0 1px 10px #fff5;
				}
			}
		}
	}

	&__link {
		color: blue;
		transition: text-shadow 0.2s ease;

		@media (prefers-color-scheme: dark) {
			color: green;
		}

		&:hover {
			text-shadow: 0 0 1px blue;

			@media (prefers-color-scheme: dark) {
				text-shadow: 0 0 1px green;
			}
		}


	}

	&__input {
		min-height: 37px;
		position: relative;
		z-index: 2;
		transition: all .1s ease-in-out;
		
		&-file {
			box-shadow: 0 1px 5px #0005;
			border-radius: 5px;
			text-align: center;
			cursor: pointer;
			
			
			@media (prefers-color-scheme: dark) {
				box-shadow: 0 1px 5px #fff5;
			}
			
			input {
				display: none;
			}

			p {
				padding: 5px;
				color: #0009;

				@media (prefers-color-scheme: dark) {
					color: #fff9;
				}
			}

			&:hover {
				>p {
					text-shadow: 0 1px 10px #0007;
				}
				
				box-shadow: 0 1px 10px #0009;
				
				@media (prefers-color-scheme: dark) {
					>p {
						text-shadow: 0 1px 2px #fff7;
					}

					box-shadow: 0 1px 5px #fff9;
				}
			}
		}

		&:hover {
			>p {
				text-shadow: 0 1px 2px #0007;
			}
			
			box-shadow: 0 1px 5px #0009;
			
			@media (prefers-color-scheme: dark) {
				>p {
					text-shadow: 0 1px 10px #fff7;
				}

				box-shadow: 0 1px 10px #fff5;
			}
		}
		
		&-pass-btn {
			position: absolute;
			width: 20px;
			height: 20px;
			right: 10px;
			z-index: 99;
			top: 6px;
			cursor: pointer;
			z-index: 0;
			
			@media (prefers-color-scheme: dark) {
				svg {
					fill: #fff;
				}
			}

			&::after {
				content: "";
				position: absolute;
				transition: all 0.2s ease-in-out;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				height: 2px;
				background-color: #000;
				transform: rotate(45deg);
				top: 8px;
				left: 0;

				@media (prefers-color-scheme: dark) {
					background-color: #fff;
				}
			}

			&._is-active {
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		flex: 1 0 100%;
		box-shadow: 0 1px 5px #0005;
		display: flex;
		position: relative;
		border-radius: 5px;
		
		@media (prefers-color-scheme: dark) {
			box-shadow: 0 1px 5px #fff5;
		}
		
		input {
			width: 100%;
			outline: none;
			border: none;
			min-height: 10px;
			padding: 8px;
			border-radius: 5px;
			transition: box-shadow 0.2s ease;
			font-size: 17px;

			&:focus:required {
				&:valid {
					box-shadow: 0 1px 7px rgba(15, 185, 0, 0.5);
				}

				&:invalid {
					box-shadow: 0 1px 7px rgba(185, 0, 0, 0.5);
				}
			}

			@media (prefers-color-scheme: dark) {
				color: #fff9;
				background-color: #fff1;
			}
		}

		p {
			background-color: var(--color-white);
			padding: 0 5px;
			font-size: 12px;
			position: absolute;
			top: -11px;
			left: 8px;
			color: #0009;
			border-radius: 10px;

			@media (prefers-color-scheme: dark) {
				color: #fff9;
				background-color: var(--color-black);
			}

		}
	}

	@media (max-width: 479px) {
		width: 100%;
		margin: 0 10px;
	}
}