.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	font-size: 20px;
	text-align: center;

	@media (prefers-color-scheme: dark) {
		color: var(--color-white);
	}

	&__btn {
		padding: 5px 20px;
		white-space: nowrap;
		cursor: pointer;
		background-color: var(--color-black);
		border: none;
		outline: none;
		border-radius: 5px;
		font-size: 17px;
		color: var(--color-white);
		transition:all .2s ease-out;

		&:hover {
			background-color: gray;
			@media (prefers-color-scheme: dark) {
				background-color: var(--color-white);
				color: var(--color-black);
				box-shadow: 0 0px 10px 0  var(--color-white);
			}
		}
	}

}